<meta charset="UTF-8">
<ul class="sidenav sidenav-fixed">
	<li>
		<div class="user-view">
			<div class="background" >
				<img src="/images/bg.png">
			</div>
			
		</div>
	</li>
	<li><div class="divider"></div></li>
	<li><a th:href="@{/home}" class="collection-item " id="menuInicio">Início</a></li>
	<li><a th:href="@{/cadastrocliente}" class="collection-item" 
			sec:authorize="hasRole('ROLE_ADMIN')" id="menuCliente">Cadastro de Clientes</a></li>
	<li><a th:href="@{/cadastroproduto}" class="collection-item" 
			sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" id="menuProduto">Cadastro de Produtos</a></li>
	<li><a th:href="@{/buscarcliente}" class="collection-item" 
			sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" id="menuPedido" >Cadastro de Pedido</a></li>
	<li><a th:href="@{/buscarpedidos}" class="collection-item" 
			sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" id="menuExibirPedido" >Pesquisa de Pedido</a></li>
</ul>

