<meta charset="UTF-8">
<ul class="sidenav sidenav-fixed">
	<li>
		<div class="user-view" style="width: 299px; height: 208px">
			<div class="background" >
				<img src="/images/bg.png">
			</div>
			<br/>
			<br/>
			<span class="white-text">Usuário logado: [[${#httpServletRequest.remoteUser}]]</span>
		</div>
	</li>
	<li><div class="divider"></div></li>
	<li><a th:href="@{/home}" class="collection-item " id="menuInicio">
			<i class="small material-icons iconesMenu">home</i>
			Início</a></li>
	<li><a th:href="@{/cadastrocliente}" class="collection-item" 
			sec:authorize="hasRole('ROLE_ADMIN')" id="menuCliente">
			<i class="small material-icons iconesMenu">person_add</i>
			Cadastro de Clientes</a></li>
	<li><a th:href="@{/cadastroproduto}" class="collection-item" 
			sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" id="menuProduto">
			<i class="small material-icons iconesMenu">control_point</i>
			Cadastro de Produtos</a></li>
	<li><a th:href="@{/buscarcliente}" class="collection-item" 
			sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" id="menuPedido" >
			<i class="small material-icons iconesMenu">playlist_add</i>
			Cadastro de Pedido</a></li>
	<li><a th:href="@{/buscarpedidos}" class="collection-item" 
			sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')" id="menuExibirPedido" >
			<i class="small material-icons iconesMenu">search</i>
			Pesquisa de Pedido</a></li>
</ul>

