<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<!-- Defindo as cor da fonte das mensagens de erros das validações do front -->
	<style type="text/css">
		.diverro, .erroBack{
			color : red;
		}
		.sucessoBack{
			color : green;
		}
	</style>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css CDN-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Jquery validate -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
	<!-- JQuery Mask -->
	<script src="/js/jquery.mask.js"></script>
</head>
<body>
	<!-- Div que recebe a Barra de navegação por js -->
	<div id="navbar"></div>
	
	<!-- Layout da página aqui -->
	<div class="row">
		<!-- Painel de navegação à esquerda -->
		<div class="col s3">
			<div class="collection">
				<a th:href="@{/home}" class="collection-item">Início</a>
				<a th:href="@{/teste}" class="collection-item active" sec:authorize="hasRole('ROLE_ADMIN')">Cadastro de Clientes</a>
				<a th:href="@{/cadastroproduto}" class="collection-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">Cadastro de Produtos</a>
      		</div>
		</div>
		
		<!-- Conteúdo da página principal -->
		<div class="col s9" id="conteudo">
			<div class="container">
				<div class="col s9">
					<h2>Cadastro de Clientes</h2>
					
					<!-- Div para exbir mensagens de validações do back-end -->
					<br/>
					<!-- Varrendo a lista de erros com thymeleaf --> 
					<div th:each = "m : ${msg}">
						<span class="erroBack" th:text = "${m}"></span>
					</div>
					<!-- Div para exbir mensagens de sucesso do back-end -->
					<div th:each="m : ${msgSucesso}">
						<span class="sucessoBack" th:text="${m}"></span>
					</div>
					<!-- Div para exibir as validações do front com jquery --> 
					<div class="diverro"></div>
					<br/>
					
					<div class="row">
						<form id="formCliente" th:action="@{/salvar}" method="POST" th:object="${clienteobj}" class="col s9">
							<div class="row">
								<div class="input-field col s9">
									<label for="id">ID:</label>
									<input type="text" name="id" id="id" th:field="*{id}" readonly="readonly">
								</div>
								<br/>
								<div class="input-field col s9">
									<label for="cpf" class="active">CPF:</label>
									<input type="text" name="cpf" id="cpf" th:field="*{cpf}" class="cpf validate" placeholder="Insira o cpf">
									
								</div>
								
								<div class="input-field col s9">
									<label for="nome" class="active">Nome:</label>
									<input type="text" name="nome" id="nome" th:field="*{nome}" class="validate" placeholder="Insira o nome">
									
								</div>
								<div class="input-field col s9">
									<label for="sobrenome" class="active">Sobrenome:</label>
									<input type="text" name="sobrenome" id="sobrenome" th:field="*{sobrenome}" class="validate" placeholder="Insira o sobrenome">
									
								</div>
								<div class="input-field col s9">
									<button class="btn waves-effect waves-light" type="submit" name="action">
										Salvar <i class="material-icons right">send</i>
									</button>
									<button class="btn waves-effect waves-light"
										onclick="document.getElementById('formCliente').reset();">Novo
									</button>
								</div>
							</div>
						</form>
					</div>
					
					<!-- Tabela com os Clientes cadastrados -->
					
					<h3 class="center-align">Lista de Clientes</h3>
					<table class="striped">
					<tr th:each = "cliente : ${clientes}"><!-- foreach do thymeleaf, recuperando alista do bd pessoas e jogando em varipaveis pessoa -->
						<td th:text = ${cliente.id}></td>
						<td th:text = ${cliente.nome}></td>
						<td th:text = ${cliente.sobrenome}></td>
						<td th:text = ${cliente.cpf}></td>
						<!-- Passando um parâmetro com thymeleaf por link para o back -->
						<td><a th:href="@{/editarcliente/{idcliente}(idcliente=${cliente.id})}">Editar</a></td>
						<td><a th:href="@{/excluircliente/{idcliente}(idcliente=${cliente.id})}">Excluir</a></td>
					</tr>
				</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Importando o js para carregar a navbar -->
	<script src="/js/navbar.js"></script>
	<!-- Importando o js para validar o form-->
	<script src="/js/validacaoCadCliente.js"></script>
	<!-- Impotando o js para criar mascaras no form -->
	<script src="/js/mascaraCadCliente.js"></script>
</body>
</html>