<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<!-- Defindo as cor da fonte das mensagens de erros das validações do front e fixando componentes -->
	<link rel="stylesheet" href="/css/principal.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css CDN-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Jquery validate -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
	<!-- JQuery Mask -->
	<script src="/js/jquery.mask.js"></script>
	<!-- Script de paginação -->
	<script type="text/javascript" src="/js/pagination.js"></script>
</head>
<body>
	<!-- Div que recebe a Barra de navegação por js -->
	<div class="navbar-fixed">
		<nav th:insert="fragments/navbar.html :: nav"></nav>
	</div>
	<!-- Layout da página aqui -->
	<div class="row">
		<!-- Painel de navegação à esquerda incluído com Thymeleaf -->
		<div class="col s3">
			<div class="collection" th:insert="fragments/menu.html :: ul"></div>
		</div>
		
		<!-- Conteúdo da página principal -->
		<div class="col s9" id="conteudo">
			<div class="container">
				<div class="col s9">
					<h4>Cadastro de Pedido</h4>
					<br/>
					<!-- Div para exbir mensagens de validações do back-end -->
					<!-- Varrendo a lista de erros com thymeleaf --> 
					<div th:each="m : ${msg}">
						<span class="erroBack" th:text="${m}"></span>
					</div>
					<!-- Div para exbir mensagens de sucesso do back-end -->
					<div th:each="m : ${msgSucesso}">
						<span class="sucessoBack" th:text="${m}"></span>
					</div>
					<!-- Div para exibir as validações do front com jquery --> 
					<div class="diverro"></div>
					<br/>
					<div th:object="${clienteobj}">
						<table class="striped">
							<thead>
								<tr>
									<th>CPF:</th>
									<th>Nome:</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<!-- Campo utilizado para passar junto com os dados dos produtos na req ajax -->
									<td th:text="${clienteobj.cpf}" id="cpfcliente"></td>
									<td th:text="${clienteobj.nome}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<br/>
					
					<h4>Lista de Produtos</h4>
					<table class="striped" id="tabelaProdutos">
						<thead>
							<tr>
								<th>ID:</th>
								<th>Descrição:</th>
								<th>Quantidade:</th>
								<th>Add:</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="produto : ${produtos}">
								<td th:text="${produto.id}" class="idProduto"></td>
								<td th:text="${produto.descricao}" class="descProduto"></td>
								<td><input type="number" class="quantidade"  style="width: 40px" min="1" step="1"></td>
								<td><button class="addbotao btn waves-effect waves-light">
								<i class="material-icons right">add_circle_outline</i></button> </td>
							</tr>
						</tbody>
					</table>
					<div class="col s9 center text-center">
	    				<span class="left" id="total_reg"></span>
            			<ul class="pagination pager" id="paginacao"></ul>
         			 </div>
         			 <br/>
         			 <br/>
         			 <div class="col s9">
	         			 <h4>Lista de Produtos adicionados</h4>
		         		<div class="card-panel #e8eaf6 indigo lighten-5">
		         			 <div id="itens"></div>
		         		</div>
		         	</div>
		         	<div class="col s9">
		         		<button id="enviar" class="btn waves-effect waves-light">Salvar
		         		<i class="material-icons right">save</i></button>
		         	</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- Script que controla toda a tela e envia dados a controller -->
	<script src="/js/pedidoController.js"></script>
	<!-- Importando o js para paginação da table de produto -->
	<script src="/js/paginacaoProduto.js"></script>
	<!-- Importando o js para validar o form-->
	<script src="/js/validacaoCadProduto.js"></script>
	<!-- Impotando o js para criar mascaras no form -->
	<script src="/js/mascaraCadCliente.js"></script>
	<!-- Script para controlar o active do menu lateral -->
	<script type="text/javascript">
		$( document ).ready(function() {
			$("#menuPedido").addClass('active').siblings().removeClass('active');
		});
	</script>
</body>
</html>