<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<!-- Defindo as cor da fonte das mensagens de erros das validações do front e fixando componentes -->
	<link rel="stylesheet" href="/css/principal.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css CDN-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Jquery validate -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
	<!-- JQuery Mask -->
	<script src="/js/jquery.mask.js"></script>
	<!-- Script de paginação -->
	<script type="text/javascript" src="/js/pagination.js"></script>
</head>
<body>
	<!-- Div que recebe a Barra de navegação por js -->
	<div class="navbar-fixed">
		<nav th:insert="fragments/navbar.html :: nav"></nav>
	</div>
	<!-- Layout da página aqui -->
	<div class="row">
		<!-- Painel de navegação à esquerda incluído com Thymeleaf -->
		<div class="col s3">
			<div class="collection" th:insert="fragments/menu.html :: ul"></div>
		</div>
		
		<!-- Conteúdo da página principal -->
		<div class="col s9" id="conteudo">
			<div class="container">
				<div class="col s9">
					<h4>Pedidos</h4>
					<br/>
					<!-- Div para exbir mensagens de validações do back-end -->
					<!-- Varrendo a lista de erros com thymeleaf --> 
					<div th:each="m : ${msg}">
						<span class="erroBack" th:text="${m}"></span>
					</div>
					<!-- Div para exbir mensagens de sucesso do back-end -->
					<div th:each="m : ${msgSucesso}">
						<span class="sucessoBack" th:text="${m}"></span>
					</div>
					<!-- Div para exibir as validações do front com jquery --> 
					<div class="diverro"></div>
					<br/>
					<div th:object="${clienteobj}">
						<table class="striped">
							<thead>
								<tr>
									<th>CPF:</th>
									<th>Nome:</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								<!-- Campo utilizado para passar junto com os dados dos produtos na req ajax -->
									<td th:text="${clienteobj.cpf}" id="cpfcliente"></td>
									<td th:text="${clienteobj.nome}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<br/>
					
					<h4>Lista de Pedidos</h4>
					<table class="striped" id="tabelaProdutos">
						<thead>
							<tr>
								<th>ID:</th>
								<th>Data:</th>
								<th>Visualizar:</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pedido : ${pedidos}">
								<td th:text="${pedido.id}" class="idPedido"></td>
								<td th:text="${#dates.format(pedido.data, 'dd-MMM-yyyy')}"></td>
								<td width="50"><button class="buscarItens btn waves-effect waves-light">
								<i class="material-icons">remove_red_eye</i></button> </td>
							</tr>
						</tbody>
					</table>
					<div class="col s9 center text-center">
	    				<span class="left" id="total_reg"></span>
            			<ul class="pagination pager" id="paginacao"></ul>
         			 </div>
         			
				</div>
			</div>
  			<!-- Estrutura Modal -->
 			<div id="modalPedidos" class="modal modal-fixed-footer">
  				<div class="modal-content">
  					<h5>Quantidade de produtos:</h5>
  					<!-- Dados preenchidos com o retorno da requisição Ajax -->
  					
   				</div>
    			<div class="modal-footer">
     				 <a href="#!" class="modal-close btn waves-effect waves-light">Fechar</a>
    			</div>
  			</div>
  			
		</div>
	</div>
	<!-- Script que controla toda a tela e envia dados a controller -->
	<script src="/js/pedidoController.js"></script>
	<!-- Importando o js para paginação da table de produto -->
	<script src="/js/paginacaoProduto.js"></script>
	<!-- Importando o js para validar o form-->
	<script src="/js/validacaoCadProduto.js"></script>
	<!-- Impotando o js para criar mascaras no form -->
	<script src="/js/mascaraCadCliente.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- Script para controlar o active do menu lateral -->
	<script type="text/javascript">
		$( document ).ready(function() {
			$("#menuExibirPedido").addClass('active').siblings().removeClass('active');
		});
		$("#modalPedidos").modal();
	</script>
	<!-- Script para controle do modal de exibição de itens do pedido (ajax) -->
	<script src="/js/exibicaoItensPedido.js"></script>
</body>
</html>