<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css CDN-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title>Home</title>
</head>
<body>
	<!-- Barra de navegação -->
	<nav>
		<div class="nav-wrapper #26a69a teal lighten-1">
			<div class="col s12 ">
				<a href="#" class="brand-logo right">JavaWeb</a>
				<a th:href="@{/logout}" class="breadcrumb">Logout</a>
			</div>
		</div>
	</nav>
	
	<!-- Layout da página aqui -->
	<div class="row">
		<!-- Painel de navegação à esquerda -->
		<div class="col s3">
			<div class="collection">
				<a href="#!" class="collection-item active" onclick="carregar('bemvindo')">Início</a>
				<a id="cadastro" href="#!" class="collection-item "  onclick="carregar('teste')" sec:authorize="hasRole('ROLE_ADMIN')">Cadastro de Clientes</a>
      		</div>
		</div>
		<!-- Conteúdo da página principal -->
		<div class="col s9" id="conteudo">
			
		</div>
	</div>
	
	<script type = "text/javascript">
 		//Função para carregar páginas inteiras na div de conteúdo da home
   		 function carregar(pagina){
       		$("#conteudo").load(pagina);
   		 }
 		//Função para alterar a classe active do navbar de acordo com a navegação
   		$('.collection-item').click(function() {
   		    $(this).addClass('active').siblings().removeClass('active');
   		});
 		
 		$(document).ready(function () {
 			$("#conteudo").load('bemvindo');
		});
 		
	</script>
	
</body>
</html>