<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<!-- Defindo as cor da fonte das mensagens de erros das validações do front e fixando componentes -->
	<link rel="stylesheet" href="/css/principal.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css CDN-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!-- Jquery validate -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
	<!-- JQuery Mask -->
	<script src="/js/jquery.mask.js"></script>
	<!-- Script de paginação -->
	<script type="text/javascript" src="/js/pagination.js"></script>
</head>
<body>
	<!-- Div que recebe a Barra de navegação por js -->
	<div class="navbar-fixed">
		<nav th:insert="fragments/navbar.html :: nav"></nav>
	</div>
	<!-- Layout da página aqui -->
	<div class="row">
		<!-- Painel de navegação à esquerda incluído com Thymeleaf -->
		<div class="col s3">
			<div class="collection" th:insert="fragments/menu.html :: ul"></div>
		</div>
		
		<!-- Conteúdo da página principal -->
		<div class="col s9" id="conteudo">
			<div class="container"  style="padding-top: 50px">
				<!-- Card do materialize com uma breve descrição -->
				<div class="card-panel #e8eaf6 indigo lighten-5 col s7">
					<i class="small material-icons">check</i>
					<span class="black-text center-align">Cadastro do pedido com sucesso!
						Clique <a th:href="@{/buscarcliente}">aqui</a> para cadastrar um novo pedido.</span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Script para controlar o active do menu lateral -->
	<script type="text/javascript">
		$( document ).ready(function() {
			$("#menuPedido").addClass('active').siblings().removeClass('active');
		});
	</script>
</body>
</html>